<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h1>Registration</h1>
  <form id="reg-form">
    <input type="text" autocomplete="off" id="email" placeholder="Email" />
    <input type="password" autocomplete="off" id="password" placeholder="Password" />
    <input type="submit" value="Submit Form" />
  </form>
    <a href="/login">login</a>

  <script>
    const form = document.getElementById('reg-form')
    form.addEventListener('submit', registerUser)

    async function registerUser(event) {
      event.preventDefault()
      // const username = document.getElementById('username').value
      const password = document.getElementById('password').value
      const email = document.getElementById('email').value

      const body = JSON.stringify({
        // username,
        password,
        email,
      });
      
      const result = await fetch('/auth/register', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: body
      }).then((res) => res.json())
    }
  </script>
</body>

</html>